body{
    margin: 0;
    padding: 0;
    font-family: "NHaasGroteskDSPro-55Rg";
}

.main{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background: #f6e299;
    position: relative;
    overflow: hidden;
}

.container{
    padding: 80px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 62px;
    justify-content: space-between;
}

.logo{
    width: 278px;
    padding-left: 13px;
    max-height: 20%;
}

.logo img{
    width: 100%;
    height: 100%;
}

.main-content{
    max-width: 424px;
    width: 100%;
    margin: 0 auto;
    max-height: 70%;
    margin-top: -63px;
}

.main-content img{
    width: 100%;
    height: 100%;
}

.contact{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.contact p{
    font-size: 29px;
    margin: 0;
    display: block;
}

.contact a{
    font-family: "NHaasGroteskDSPro-65Md";
    font-size: 28px;
    margin: 0;
    letter-spacing: 0.1px;
    display: block;
    color: #393939;
    text-decoration: none;
    word-break: break-all;
    transition: 0.5s all;
}

.contact a:hover{
    color: #fff;
}

.contact .content{
    padding-right: 15px;
}

@media(max-width: 1200px){
    .main-content{
        max-height: 50%;
    }

    .main-content{
        margin-top: 0px;
    }
}

@media(max-width: 767.98px){
    .main-content{
        width: 200px;
    }
}

@media(max-width: 575px){
    .container{
        padding: 15px;
    }

    .logo{
        width: 200px;
        margin: 0 auto;
    }

    .main-content{
        width: 170px;
    }

    .contact p{
        font-size: 21px;
    }

    .contact a{
        font-size: 20px;
    }

}

